<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Diálogo</title>

    <link rel="stylesheet" href='node_modules/bootstrap/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href='./css/index.css'>
    <link rel="stylesheet" href="css/photon.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.4/css/all.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
</head>

<body>

    <div class="window">
        <div class="window-content">
            <div class="pane-group">
                <ul class="list-group">
                    <li class="list-group-header">
                        <div class="toolbar-actions">
                            <button id="btn_add_user">
                                <span class="fas fa-user-plus"></span>
                            </button>
                            <button id="btn_sign_out">
                                <span class="fas fa-sign-out-alt"></span>
                            </button>
                        </div>
                        <input class="form-control" type="text" placeholder="Search for someone">
                    </li>
                    <li class="list-group-item">
                        <img class="img-circle media-object pull-left" src="./assets/image/avatar.jpg" width="32" height="32">
                        <div class="media-body">
                            <strong>List item title</strong>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <img class="img-circle media-object pull-left" src="./assets/image/avatar.jpg" width="32" height="32">
                        <div class="media-body">
                            <strong>List item title</strong>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <img class="img-circle media-object pull-left" src="./assets/image/avatar.jpg" width="32" height="32">
                        <div class="media-body">
                            <strong>List item title</strong>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="modal_registration" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="color:darkBlue;"> Welcome!!!</h4>
            </div>
            <div class="modal-body">
                <form role="form" id="form_register">
                    <div class="left">
                        <label for="first_name">
                            Username
                        </label>
                        <input type="text" class="form-control" id="user_first_name" placeholder="Don't use spaces o special caracters" v-model="user_register.username">
                    </div>
                    <div class="alertIcon" v-if="exists">
                        <i class="fas fa-exclamation-circle"></i>
                    </div>
                    <div class="clear">Don't use spaces o special caracter</div>
                    <div class="clear">&nbsp;</div>
                    <div class="left">
                        <label for="first_name">
                            First Name
                        </label>
                        <input type="text" class="form-control" id="user_first_name" placeholder="First name" v-model="user_register.first_name">
                    </div>
                    <div class="left" id="lst_name">
                        <label for="last_name">
                            Last Name
                        </label>
                        <input type="text" class="form-control" id="user_last_name" placeholder="Last name" v-model="user_register.last_name">
                    </div>
                    <div class="clear">&nbsp;</div>
                    <div class="form-group">
                        <label for="psw">
                            Date of Birthday
                        </label>
                        <input type="date" class="form-control date-mask" id="user_birthday" placeholder="dd/mm/aaaa" v-model="user_register.birthday">
                    </div>
                    <div class="form-group">
                        <label for="psw">
                            Phone Number
                        </label>
                        <input type="text" class="form-control" id="user_phone" placeholder="(11) 1234-5678" v-model="user_register.phone">
                    </div>
                    <button type="submit" class="btn btn-default btn-success btn-block" @click="finishRegistration()" id="btn_finish_registration">
                        Finish Registration
                    </button>
                </form>
            </div>
            <div class="modal-footer">


            </div>
        </div>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="index-renderer.js"></script>

</html>